.preview-wrapper {
  background-color: white;
  height: 100%;
  flex-grow: 1;
}
#progress {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  animation: showProgress 1s;
}

@keyframes showProgress {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
